<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Stock Monitor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Stock Monitor </ion-title>
    </ion-toolbar>
  </ion-header> 

  <div id="container">
    <ion-item>
      <ion-label>Specify an Equity</ion-label>
      <ion-input placeholder="E.g IBM"></ion-input>
    </ion-item>
    <ion-button [routerLink]="['/page']" routerDirection="forward">Fetch</ion-button>
    <ion-item>
      <ion-label>Interval</ion-label>
      <ion-select [value]="['Daily']">
        <ion-select-option value="Daily">Daily</ion-select-option>
        <ion-select-option value="Weekly">Weekly</ion-select-option>
        <ion-select-option value="Monthly">Monthly</ion-select-option>
        <ion-select-option value="Yearly">Yearly</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
</ion-content>
